/* Video Detail */
.videoDetailTitle {
  font-size: 1.3rem;
}
.videoDetailDescription {
  font-size: 1rem;
  color: #5f5f5f;
}

.videoDetailTitle-dark {
  color: #ffa100;
}

.videoDetail iframe {
  width: 98vw;
  height: 750px;
}
/*  VideoItem*/

#videoItemDescription {
  color: #5f5f5f;
}
#videoItemDescription-dark {
  color: #5f5f5f;
}

.videoItem-dark {
  background-color: #212529;
}

#videoItemTitle-dark {
  color: #ffa100;
}

#videoItemTitle {
  font-size: 1.1rem;
}
/* VideoSearch */
.videoSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.videoSearch input {
  height: 40px;
}

.videoSearch div {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* VideoList */

.videoList {
  width: "75vw";
  background-color: #d9d9d9;
  /* border: 2px solid black; */
}

.videoList-dark {
  width: "75vw";
}
/* Navbar */
.btn-color {
  background-color: #ffa100;
}
.btn-color:hover {
  background-color: #212529;
  color: #ffa100;
  border: 1px solid #ffa100;
}

@media screen and (max-width: 1400px) {
  .videoDetail iframe {
    height: 700px;
  }

  .videoItem {
    flex-direction: row;
  }
}
@media screen and (max-width: 1300px) {
  .videoDetail iframe {
    height: 650px;
  }
}
@media screen and (max-width: 1200px) {
  .videoDetail iframe {
    height: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .videoDetail iframe {
    height: 550px;
  }
}
@media screen and (max-width: 900px) {
  .videoDetail iframe {
    height: 500px;
  }
}
@media screen and (max-width: 800px) {
  .videoDetail iframe {
    height: 450px;
  }
  .videoSearch {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .videoDetail iframe {
    height: 400px;
  }
  .videoSearch {
    flex-direction: column;
  }

  #videoItemDescription {
    display: none;
  }

  #videoItemDescription-dark {
    display: none;
  }

  .videoDetailDescription {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .videoDetail iframe {
    height: 350px;
  }

  .videoItem {
    flex-direction: column;
  }

  .videoItem-dark {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .videoDetail iframe {
    height: 300px;
  }
  .videoDetailTitle {
    font-size: 1rem;
  }
  .videoDetailDescription {
    font-size: 0.8rem;
  }
  #videoItemTitle {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .videoDetail iframe {
    height: 250px;
  }

  .videoDetailTitle {
    font-size: 1rem;
  }
  .videoDetailDescription {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 300px) {
  .videoDetail iframe {
    height: 200px;
  }

  .videoDetailTitle {
    font-size: 1rem;
  }
  .videoDetailDescription {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 200px) {
  .videoDetail iframe {
    height: 150px;
  }

  .videoDetailDescription {
    font-size: 0.8rem;
    display: none;
  }
}
