/* Video Detail */
.videoDetailTitle {
  font-size: 1.6rem;
}
.videoDetailDescription {
  font-size: 1.3rem;
  color: #5f5f5f;
}

.videoDetailTitle-dark {
  color: #ff7f7f;
  font-size: 1.6rem;
}

.videoDetail iframe {
  width: 98.9vw;
  height: 750px;
}

/* videoDetail Button */
.button {
  background-color: #e8f4f8;
  color: #212529;
  border-radius: 0.5rem;
  border: 0.1rem solid #add8e6;
  box-shadow: 0.1rem 0.1rem 0.5rem;
  width: 5rem;
}
.button:hover {
  background-color: #add8e6;
  color: #212529;
  border-radius: 0.5rem;
  width: 5.3rem;
}
.button-dark {
  background-color: #ff7f7f;
  border-radius: 0.5rem;
  width: 5rem;
}
.button-dark:hover {
  background-color: #000613;
  color: #ff7f7f;
  border: 0.1rem solid #ff7f7f;
  border-radius: 0.5rem;
  width: 5.1rem;
}
/*  VideoItem*/

.videoItem {
  background-color: #add8e6;
  box-shadow: 0.1rem 0.1rem 0.6rem;
}

#videoItemTitle-dark {
  color: #ff7f7f;
}

#videoItemDescription {
  color: #5f5f5f;
}
#videoItemDescription-dark {
  color: #5f5f5f;
}

.videoItem-dark {
  background-color: #212529;
}

#videoItemTitle {
  font-size: 1.1rem;
}
/* VideoSearch */
.videoSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.videoSearch input {
  height: 40px;
}

.videoSearch div {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* VideoList */

.videoList {
  width: "75vw";
  background: linear-gradient(150deg, #e8f4f8 60%, #c1e1ec 60%);
}

.videoList-dark {
  width: "75vw";
}
/* Navbar */
.btn-color {
  background-color: #c1e1ec;
}
.btn-color:hover {
  background-color: #212529;
  color: #c1e1ec;
  border: 1px solid #c1e1ec;
}
.btn-color-dark {
  background-color: #ff7f7f;
}
.btn-color-dark:hover {
  background-color: #212529;
  color: #ff7f7f;
  border: 1px solid #ff7f7f;
}
/* Home Background */
.home-background {
  background-color: #e8f4f8;
}
.home-background-dark {
  background-color: #000613;
}
/*  */
@media screen and (max-width: 1400px) {
  .videoDetail iframe {
    height: 700px;
  }

  .videoItem {
    flex-direction: row;
  }
}
@media screen and (max-width: 1300px) {
  .videoDetail iframe {
    height: 650px;
  }
}
@media screen and (max-width: 1200px) {
  .videoDetail iframe {
    height: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .videoDetail iframe {
    height: 550px;
  }
}
@media screen and (max-width: 900px) {
  .videoDetail iframe {
    height: 500px;
  }
}
@media screen and (max-width: 800px) {
  .videoDetail iframe {
    height: 450px;
  }
  .videoSearch {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .videoDetail iframe {
    height: 400px;
  }
  .videoSearch {
    flex-direction: column;
  }

  #videoItemDescription {
    display: none;
  }

  #videoItemDescription-dark {
    display: none;
  }

  .videoDetailDescription {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .videoDetail iframe {
    height: 350px;
  }

  .videoItem {
    flex-direction: column;
  }

  .videoItem-dark {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .videoDetail iframe {
    height: 300px;
  }
  .videoDetailTitle {
    font-size: 1.3rem;
  }
  .videoDetailTitle-dark {
    font-size: 1.3rem;
  }
  #videoItemTitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .videoDetail iframe {
    height: 250px;
  }
}
@media screen and (max-width: 300px) {
  .videoDetail iframe {
    height: 200px;
  }
}
@media screen and (max-width: 200px) {
  .videoDetail iframe {
    height: 150px;
  }
}
