.iframe iframe {
  width: 1100px;
  height: 600px;
}
.title {
  font-size: 1.3rem;
}
.description {
  font-size: 1rem;
}
.videoSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.videoSearch input {
  height: 40px;
}

.videoSearch div {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.videoList {
  width: "90vw";
  /* background-color: blue; */
}

#title-dark {
  color: #ffa100;
}

#title {
  font-size: 1.1rem;
}

.title-dark {
  color: #ffa100;
}

.videoList-dark {
  border: 2px solid rgb(175, 175, 175);
}
@media screen and (max-width: 1400px) {
  .iframe iframe {
    width: 800px;
    height: 400px;
  }

  .videoItem {
    flex-direction: row;
  }
}
@media screen and (max-width: 1200px) {
  .iframe iframe {
    width: 600px;
    height: 300px;
  }

  .videoItem {
    flex-direction: row;
  }
}
@media screen and (max-width: 1000px) {
  .iframe iframe {
    width: 500px;
    height: 250px;
  }

  .videoItem {
    flex-direction: row;
  }
}
@media screen and (max-width: 800px) {
  .iframe iframe {
    width: 450px;
    height: 230px;
  }
  .videoSearch {
    flex-direction: column;
  }

  .videoItem {
    flex-direction: column;
  }

  #description {
    display: none;
  }

  .description {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .iframe iframe {
    width: 400px;
    height: 210px;
  }

  .videoItem {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .iframe iframe {
    width: 300px;
    height: 170px;
  }
  .title {
    font-size: 1rem;
  }
  .description {
    font-size: 0.8rem;
  }

  .videoItem {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .iframe iframe {
    width: 250px;
    height: 120px;
  }

  .title {
    font-size: 1rem;
  }
  .description {
    font-size: 0.8rem;
  }

  .videoItem {
    flex-direction: column;
  }
}
@media screen and (max-width: 200px) {
  .iframe iframe {
    width: 170px;
    height: 90px;
  }

  .title {
    font-size: 1rem;
  }
  .description {
    font-size: 0.8rem;
    display: none;
  }

  .videoItem {
    flex-direction: column;
  }
}
